.ez5-example-plugin-hl-left {
	margin: 10px;
}

.ez5-example-custom-data-type {
	&.ez5-example-custom-data-type--red {
		.cui-slider-track-visual {
			background: red;
		}
		.cui-label-content {
			color: red;
		}
	}
	&.ez5-example-custom-data-type--green {
		.cui-slider-track-visual {
			background: green;
		}
		.cui-label-content {
			color: green;
		}
	}
	&.ez5-example-custom-data-type--blue {
		.cui-slider-track-visual {
			background: blue;
		}
		.cui-label-content {
			color: blue;
		}
	}
}

.asset-detail-exampleassetdetailpdf {
	background-color: #272727;
}

.ez5-example-asset-detail-filename {
	position: absolute;
    left: 10px;
    line-height: 22px;
}

.ez5-ascene {
	position: absolute;
	top: 0;
	left: 0;
}

.ez5-example-asset-detail-pdf {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
}

.ez5-example-detail-sidebar-plugin-btn-red {
	.fa {
		color: red;
	}
}

.ez5-example-mask-splitter {
	flex-grow: 1;
}
